h1{
    color: red;
    font-size: 250%;
    font-family: chicago;
    text-align: center;
    padding: 25px 50px 10px 50px;
}

h2{
    color: red;
    font-size: 200%;
    font-family: chicago;
    text-align: center;
    padding: 50px 50px 0px 50px;  
}

p{
    color: rgb(27, 90, 173);
    font-size: 150%;
    text-align: justify;
    font-family: Comic Sans MS;
    padding: 20px 50px;
}
